.about-category {
	width: 100%;
	margin-bottom: 25px;
	font-family: "Montserrat", sans-serif;
	overflow: hidden;
	display: block;

	.category-title {
		display: flex;
		justify-content: space-between;
		background-color: #FF6060;
		padding: 10px 20px 10px 15px;
		color: #FFF;
		font-size: 24px;
		font-weight: 700;
		border-radius: 10px;

		.chevron-up-animation {
			transform-origin: center;
			transform: rotate(0deg);
			transition: transform 1s ease-in-out;
		}

		.chevron-down-animation {
			transform-origin: center;
			transform: rotate(180deg);
			transition: transform 1s ease-in-out;
		}
	}

	.category-description {
		display: block;
		background-color: #F6F6F6;
		border-radius: 10px;
		padding: 20px;

		ul {
			list-style: none;
		}
	}

	.category-hidden {
		transition: all 1s ease-in-out;
		max-height: 0;
		overflow: hidden;
	}

	.category-shown {
		transition: all 1s ease-in-out;
		max-height: 500px;
	}
}

@media (max-width: 375px){
	.about-category {

		.category-title {
			font-size: 18px;
		}

		.category-description {
			font-size: 16px;
		}
	}
}
