.carousel {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	align-items: center;

	.currentPicture {
		width: 100%;
		z-index: 10;
		object-fit: cover;
	}

	.picture-count {
		color: #ffffff;
		font-size: 18px;
		position: absolute;
		bottom: 10px;
		z-index: 15;
		left: 48%;
	}

	.previousPictureButton {
		position: absolute;
		left: 25px;
		z-index: 30;
		font-size: 46px;
		color: #ffffff;
	}

	.nextPictureButton {
		position: absolute;
		right: 25px;
		z-index: 30;
		font-size: 46px;
		color: #ffffff;
	}
}

@media (max-width: 375px) {
	.carousel {
		.picture-count {
			display: none;
		}

		.previousPictureButton {
			font-size: 24px;
			left: 5px;
		}

		.nextPictureButton {
			font-size: 24px;
			right: 5px;
		}
	}
}
