
.carousel {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	align-items: center;

	.currentPicture {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		object-fit: cover;
	}

	.previousPictureButton {
		position: absolute;
		left: 25px;
		z-index: 30;
		font-size: 46px;
		color: #FFFFFF;
	}

	.nextPictureButton {
		position: absolute;
		right: 25px;
		z-index: 30;
		font-size: 46px;
		color: #FFFFFF;
	}
}