
footer {
	color: white;
	background-color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
	width: 100%;
}

@media (max-width: 375px){
	footer {
		justify-content: center;

		.copyright-text {
			width: 130px;
			text-align: center;
			margin-top: 5px
		}
	}
}