header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 50px;
  margin-top: 50px;
}
header .header-links {
  font-size: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  color: black;
}
header .header-links .header-link:hover {
  -webkit-text-decoration: underline 1px black;
          text-decoration: underline 1px black;
}
header a, header a:link, header a:visited, header a:focus, header a:hover, header a:active {
  color: black;
  text-decoration: none;
}

@media (max-width: 375px) {
  header {
    margin-top: 20px;
    width: 90%;
  }
  header img {
    width: 150px;
  }
  header .header-links {
    width: 50%;
    font-size: 15px;
    justify-content: space-around;
  }
}
.banner {
  width: 75%;
  height: 225px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
}
.banner .shadow-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner span {
  position: absolute;
  padding-left: 10%;
  font-size: 48px;
  color: #FFFFFF;
  display: inline;
  width: 80%;
}

@media (max-width: 375px) {
  .banner {
    height: 110px;
    width: 90%;
    text-align: left;
  }
  .banner span {
    font-size: 24px;
    font-weight: 700;
  }
}
footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}

@media (max-width: 375px) {
  footer {
    justify-content: center;
  }
  footer .copyright-text {
    width: 130px;
    text-align: center;
    margin-top: 5px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .place-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  background-color: #f6f6f6;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 50px 50px 0px 50px;
}
.content .place-list a,
.content .place-list a:link,
.content .place-list a:visited,
.content .place-list a:focus,
.content .place-list a:hover,
.content .place-list a:active {
  color: #fff;
  text-decoration: none;
}
.content .place-list a .place,
.content .place-list a:link .place,
.content .place-list a:visited .place,
.content .place-list a:focus .place,
.content .place-list a:hover .place,
.content .place-list a:active .place {
  width: 350px;
  height: 350px;
  background-color: #ff6060;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content .place-list a .place img,
.content .place-list a:link .place img,
.content .place-list a:visited .place img,
.content .place-list a:focus .place img,
.content .place-list a:hover .place img,
.content .place-list a:active .place img {
  width: 100%;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content .place-list a .place .place-title,
.content .place-list a:link .place .place-title,
.content .place-list a:visited .place .place-title,
.content .place-list a:focus .place .place-title,
.content .place-list a:hover .place .place-title,
.content .place-list a:active .place .place-title {
  font-size: 18px;
  color: #fff;
  width: 80%;
  text-align: left;
  font-weight: 700;
  padding-bottom: 25px;
}

@media (max-width: 375px) {
  .content .place-list {
    flex-direction: column;
    background-color: #FFFFFF;
  }
  .content .place-list a .place,
  .content .place-list a:link .place,
  .content .place-list a:visited .place,
  .content .place-list a:focus .place,
  .content .place-list a:hover .place,
  .content .place-list a:active .place {
    width: 100%;
  }
  .content .place-list a .place img,
  .content .place-list a:link .place img,
  .content .place-list a:visited .place img,
  .content .place-list a:focus .place img,
  .content .place-list a:hover .place img,
  .content .place-list a:active .place img {
    width: 100%;
  }
}/*# sourceMappingURL=home.css.map */