.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
}
.carousel .currentPicture {
  width: 100%;
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .picture-count {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  z-index: 15;
  left: 48%;
}
.carousel .previousPictureButton {
  position: absolute;
  left: 25px;
  z-index: 30;
  font-size: 46px;
  color: #ffffff;
}
.carousel .nextPictureButton {
  position: absolute;
  right: 25px;
  z-index: 30;
  font-size: 46px;
  color: #ffffff;
}

@media (max-width: 375px) {
  .carousel .picture-count {
    display: none;
  }
  .carousel .previousPictureButton {
    font-size: 24px;
    left: 5px;
  }
  .carousel .nextPictureButton {
    font-size: 24px;
    right: 5px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
}
.content .place-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .place-infos .gallery {
  width: 80%;
}
.content .place-infos .gallery img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.content .place-infos .title-location-tags-rating-owner {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .place-infos .title-location-tags-rating-owner .title-location-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.content .place-infos .title-location-tags-rating-owner .title-location-tags h3 {
  font-size: 36px;
  color: #ff6060;
  padding: 0px;
  margin: 0px;
}
.content .place-infos .title-location-tags-rating-owner .title-location-tags ul {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  gap: 10px;
}
.content .place-infos .title-location-tags-rating-owner .title-location-tags ul li {
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px;
  padding: 3px 30px 3px 30px;
  margin-top: 10px;
}
.content .place-infos .title-location-tags-rating-owner .rating-owner {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.content .place-infos .title-location-tags-rating-owner .rating-owner .rating .star-full {
  color: #ff6060;
}
.content .place-infos .title-location-tags-rating-owner .rating-owner .rating .star-empty {
  color: #e3e3e3;
}
.content .place-infos .title-location-tags-rating-owner .rating-owner .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 165px;
  text-align: right;
  color: #ff6060;
}
.content .place-infos .title-location-tags-rating-owner .rating-owner .owner img {
  margin-left: 5px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .place-infos .description-equipments {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .place-infos .description-equipments .about-category {
  width: 45%;
}

@media (max-width: 375px) {
  .content .place-infos .gallery {
    width: 80%;
  }
  .content .place-infos .gallery img {
    height: 250px;
  }
  .content .place-infos .title-location-tags-rating-owner {
    flex-direction: column;
  }
  .content .place-infos .title-location-tags-rating-owner .title-location-tags {
    width: 100%;
    font-size: 14px;
  }
  .content .place-infos .title-location-tags-rating-owner .title-location-tags h3 {
    font-size: 18px;
    font-weight: 500;
  }
  .content .place-infos .title-location-tags-rating-owner .title-location-tags ul {
    width: 100%;
  }
  .content .place-infos .title-location-tags-rating-owner .title-location-tags ul li {
    font-size: 10px;
  }
  .content .place-infos .title-location-tags-rating-owner .rating-owner {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .content .place-infos .description-equipments {
    margin-top: 10px;
    flex-direction: column;
  }
  .content .place-infos .description-equipments .about-category {
    width: 100%;
  }
}/*# sourceMappingURL=place.css.map */